{% extends 'base.html.twig' %}

{% block title %}
    Natation ({{ app.environment }})
{% endblock %}


{# Stylesheets #}
{% block stylesheets %}
<!-- Bootstrap core CSS -->
<link href={{ asset('css/bootstrap.min.css') }} rel="stylesheet">

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href={{ asset('css/ie10-viewport-bug-workaround.css') }} rel="stylesheet">

<!-- FontAwesome style sheet -->
<link href={{ asset('css/fontawesome-all.min.css') }} rel="stylesheet">

<!-- Custom styles for this template -->
<link href={{ asset('css/sticky-footer-navbar.css') }} rel="stylesheet">

<!-- Custom style sheet -->
<link href={{ asset('css/custom.css') }} rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src={{ asset('js/ie-emulation-modes-warning.js') }}></script>
{% endblock %}


{# Javascripts #}
{% block javascripts %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src={{ asset('js/jquery.js') }}></script>
<!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
<script src={{ asset('js/bootstrap.min.js') }}></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src={{ asset('js/ie10-viewport-bug-workaround.js') }}></script>
{% endblock %}





{% block body %}
    {% block banner %}
    <!-- Banner of the page -->
    <div class="banner fixed-top" id="page-banner">
      <div class="row">
        <!--<div class="col-xs-6"><img src="Logo_natation.png"></img></div>
        <div class="col-xs-6"><img src="Header_natation.png"></img></div>-->
        <div class="col-sm-3 banner-left"></div>
        <div class="col-sm-9 banner-right"></div>
      </div>
    </div>
    {% endblock %}

    {% block navbar %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('homepage') }}">Natation synchronisée</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('homepage') }}">Accueil</a></li>
                {% if is_granted("ROLE_JUGE") %}
                <li><a href="{{ path('juge_compet') }}">Comp&eacute;tition</a></li>
                {% endif %}
                {% if is_granted("ROLE_CREATE_COMPET") or is_granted("Juge") %}
                <li><a href="{{ path('all_competitions') }}">Toutes les comp&eacute;titions</a></li>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                <li><a href="{{ path('all_users') }}">Tous les utilisateurs</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("ROLE_USER") %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-lg fa-user-circle"></i>
                    {{ app.user.mail }}
                    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('show_curr_user') }}"><i class="fa fa-fw fa-edit"></i> Voir le profil</a></li>
                        <li><a href="{{ path('logout') }}"><i class="fa fa-fw fa-sign-out-alt"></i> Déconnexion</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ path('login') }}"><i class="fa fa-fw fa-lg fa-user-circle"></i> Connexion</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% endblock %}

    {# Body of the application #}
    <div class="container">
        {# The page name #}
        <div class="page-header">
            <h1>
            {% block app_body_title %}
                  NO_TITLE
            {% endblock %}
            </h1>
        </div>

        {# The page body #}
        {% block app_body %}
            <!-- Put contents here -->
        {% endblock %}
    </div>

    {% block footer %}
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>
    {% endblock %}
    
{% endblock %}