{% extends '@Natation/base.html.twig' %}

{% block title %}
    Natation synchronisée - Compétition
{% endblock %}

{% block app_body_title %}
    Comp&eacute;tition "{{ competition.titre }}"
{% endblock %}

{% block app_body %}
    <table class="table table-hover">
        <tr>
            <th>Titre de la comp&eacute;tition :</th>
            <td>{{ competition.titre }}</td>
            <td></td>
        </tr>
        <tr>
            <th>Date de la comp&racute;tition :</th>
            <td>{{ competition.dateCompetition|date('d-m-Y') }}</td>
            <td></td>
        </tr>
        <tr>
            <th>Lieu de la comp&eacute;tition :</th>
            <td>{{ competition.idLieu.adresse }}</td>
            <td></td>
        </tr>
        <tr>
            <th>Liste des juges :</th>
            <td>
                <ul>
                    {% for juge in competition.idJugecompetition %}
                        {% if juge.idTypeJuge.nom != 'Juge-arbitre' %}
                        <li>{{ juge.idUtilisateur.personne.nom }} {{ juge.idUtilisateur.personne.prenom }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </td>
            <td><a href="{{ path('show_competition_juges', {competId: competition.id}) }}"  title="&Eacute;diter"><i class="fa fa-fw fa-edit"></i></a></td>
        </tr>
        <tr>
            <th>Juge-arbitre :</th>
            {% for juge in competition.idJugecompetition %}
                {% if juge.idTypeJuge.nom == 'Juge-arbitre' %}
                <td>{{ juge.idUtilisateur.personne.nom }} {{ juge.idUtilisateur.personne.prenom }}</td>
                {% endif %}
            {% endfor %}
            <td><a href="{{ path('show_competition_juges', {competId: competition.id}) }}"><i class="fa fa-fw fa-edit"></i></a></td>
        </tr>
        <tr>
            <th>&Eacute;quipes</th>
            <td>
                <ul>
                    {% for equipe in competition.idEquipe %}
                        <li>({{ equipe.ordrepassage }}) {{ equipe.nom }} ({{ equipe.idPersonne|length }} nageurs(es))</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
            {% if is_granted('ROLE_CREATE_COMPET') or is_granted('ROLE_JUGE') %}
                <a href="{{ path('show_competition_teams', {competId: competition.id}) }}"  title="&Eacute;diter"><i class="fa fa-fw fa-edit"></i></a>
            {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}