{% extends '@Natation/base.html.twig' %}

{% block app_body_title %}
    {{ form_title }}
{% endblock %}

{% block app_body %}
    <a href="{{ path('new_user_personne') }}"><button class="btn btn-primary">{{ 'Create a new person'|trans }}</button></a>
    {# FORM #}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

